body {
    margin:0;
    padding:0;
    background-color:rgb(226, 183, 131);
}
.container {
    margin: 20px auto;
    width: 70%;
    padding: 30px;
    background-color: white;
    border: 2px solid rgb(179, 94, 15);
    box-shadow: 0 0 10px 1px #666;
    text-align: center;
}
p {
    line-height: 1.5;
    text-align: justify;
}